body{
	color: #262626;
	background: WhiteSmoke;
	width:100%;
}

#high1{
	width: 100%;
    margin: 0 auto; 
	text-align:center;
}

#plansza{
	width: 610px;
    margin: auto; 
	right: 0;
	left: 0;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
#container{
	width: 100%;
    margin: 0 auto; 
}
#main{
	width: 610px;
    margin: auto; 
	right: 0;
	left: 0;	
}
#buttons{
	text-align:center;
    margin: auto; 
	right: 0;
	left: 0;
}
.actionButton{
	height: 50px;
	width: 180px;
	color: black;
    font-weight: bold;
	font-size: 20px;
	border-radius: 15px;
	margin: 20px 10px;
	cursor:pointer;
}
.actionButton:hover{
    transition: 1s; 
	transition-timing-function: ease-in-out;
}
.actionButton:focus{
	outline:0;
}
#info{
	width:610px;
	min-height: 150px;
	margin: auto auto 15px auto; 
}
#legendatxt{
	margin-left: 5px;
}
#legenda{
	float:left;
	height:80px;
	width:65%;
}
#legendabuttons{
	width:100%;
	margin: auto;
	float: left;	
}
.key:hover{
	color: #4d4d4d !important;
	border: solid #4d4d4d 3px !important;
	
}
.key:focus{
	color:black !important;
	border: solid black 3px !important;
	outline:0;
	cursor:default;
}
.key{
	font-size: 20px;
	font-weight: bold;
	height: 55px;
	width: 50px;
	border: #262626 solid 3px;
	border-radius: 15px;
	padding: 5px;
	margin: 5px;
	float: left;
	text-align: center;
	vertical-align: middle;
	cursor:pointer;
    transition: 1s; 	
}
#key0{
	border-color: #808080; 
	background: lightgrey; 
	color: #808080;
	font-size: 1.5rem;
	margin-right: 10%;
}
#key1{
	border-color: #00cc00; 
	background: lightgreen; 
	color: #00cc00;
}
#key2{
	border-color: #cccc00; 
	background: #ffff80; 
	font-size: 30px; 
	color: #cccc00;
}
#key3{
	border-color: #cc7a00;
	background: #ffd280; 
	font-size: 30px; 
	color: #cc7a00;
}

#key4{
	border-color: #cc0000; 
	background: #ff8080; 
	color: #cc0000;
}
#key5{
	border-color: #808080; 
	background: lightgrey; 
	color: #808080;
	font-size: 1.5rem;
	margin-left: 10%;
}
#opis{
	margin-left:5px;
	text-align: justify;
}
#coins{
	width:35%;
	margin: auto;
	float:left;	
}
#coinsimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#licznik{
	text-align:center;
	font-weight: bold;
	font-size: 1.5rem;
}
#wskaznikzielonych{
	text-align:center;
	font-weight: bold;
	color: darkgreen;
	font-size: 1rem;
}
#losuj{
	color: #004d00;
	border: solid green;
	border-width: 0px 0px 2px 2px;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2ff52+0,4ccc3b+100 */
	background: #d2ff52; /* Old browsers */
	background: -moz-linear-gradient(top, #d2ff52 0%, #4ccc3b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #d2ff52 0%,#4ccc3b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #d2ff52 0%,#4ccc3b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#losuj:hover{
	color: #e6ffe6;
	background: #4ccc3b;
	border: solid lightgreen;
	border-width: 0px 0px 2px 2px;
}
#koniec{
	color: #4d0000;
	border: solid darkred;
	border-width: 0px 2px 2px 0px;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f49e69+0,ea0000+100 */
	background: #f49e69; /* Old browsers */
	background: -moz-linear-gradient(top, #f49e69 0%, #ea0000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f49e69 0%,#ea0000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f49e69 0%,#ea0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#koniec:hover{
	color: #ffe6e6;	
	background: #ea0000;
	border: solid #ff8080;
	border-width: 0px 2px 2px 0px;
}
.wliczby{
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	width: 35px;
	border: #262626 solid 3px;
	border-radius: 15px;
	padding: 5px;
	margin: 5px;
	float: left;
	text-align: center;
	vertical-align: middle;
	cursor:pointer;
    -webkit-transition: 1s; 
	-moz-transform:1s; 
  
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}

.wliczby:hover{
	border: black solid 3px;
	background: lightgrey;
	color: black;
}
.wliczby:not(:focus):hover {
	-moz-transform:rotateY(0deg);
	-moz-transition-timing-function: ease-in-out;
}
.wliczby:focus {
	-moz-transform:rotateY(360deg);
}
#footer{
	height: 30px;
	margin-top: 10px;
	padding-top: 15px;
	text-align: center;
	background: #e6e6e6;
	width: 610px;
    margin: auto; 
	right: 0;
	left: 0;	
}

